/* 
-----------------
Table of Contents
-----------------
1. Global Styles
2. Classes
3. ID Styles
4. Menu Icon and Animation
5. Media Queries

-----------------
1. Global Styles
-----------------
*/

:root{
  --base-padding: 0.5em 0px 0px;
  --base-font-size: 18px;
  --menu-icon-display: none;
  --mobile-menu-display: none;
  --nav-height: 2.5em;
  --background-color: white;
  --text-color: #24292e;
  --box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.5);
  --golden-ratio: 1.61803em;
}

body{
  color: var(--text-color);
  line-height: 1.65em;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 1.1em;
  word-wrap: break-word;
  margin: 0px;
  padding: var(--base-padding);
  background: var(--background-color);
}

nav{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0px;
  padding-top: 0.5em;
  width: 75%;
  margin: auto;
  height: var(--nav-height);
  
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 1;
}

header{
  height: var(--nav-height);
  width: 100%;
  border-bottom: 1px solid lightgrey;
  -webkit-transition: .2s;
  transition: .2s;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

a:hover{
  cursor: pointer;
  opacity: 0.7;
}

hr{
  border: 1px solid lightgray;
  opacity: 0.7;
}

blockquote{
  margin-left: 0px;
  font-style: italic;
}

ul{
  list-style-type: none;
  margin: 0px;
  padding: 2.5px;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 6em;
  text-align: center;
  margin: auto;
  padding-top: 0.5em;
  border-top: 1px solid lightgrey;
}

footer p, footer a{
  opacity: 0.7;
}

input[type=checkbox] {
  visibility: hidden;
  height: 0;
  width: 0;
}

/* 
-----------------
2. Classes
-----------------
*/
.light-switch label:hover,
.menu-icon:hover{
  cursor: pointer;
}

.post-title{
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  /* margin: 1em 0px; */
  padding: 0em 0px 1em;
  border-bottom: 1px solid lightgrey;
}

.post-link{
  margin-bottom: 0px;
}

 .read-more{
  text-decoration: underline;
}

.post-meta{
  opacity: 0.5;
}

.post-content{
  clear: both;
  overflow: hidden;
}

.post-content a, footer a{
  text-decoration: underline;
}

.post-content p, .post-content ul{
  opacity: 0.9;
}

.post-content h3{
  text-align: center;
  margin: 1em 0px;
}

.post-content li{
  list-style: disc;
  margin-top: 0.5em;
  margin-left: 1em;
}

.post-content li li{
  list-style: circle;
}

.post-content img{
  display: block;
  margin: auto;
  height: 250px;
}

.page-links{
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.light-switch{
  position: relative;
  width: 55px;
  height: 29px;
  background-color: var(--text-color);
  border-radius: 34px;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider:before{
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: var(--background-color);
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

.light-switch input:checked + .slider:before{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.wrapper{
  padding: 1em;
  min-height: 74vh;
  width: 800px;
  max-width: 100%;
  margin: 2em auto;
  border: 1px solid var(--text-color);
}

.quoteOfTheDayContainer{  
  border-bottom: 1px solid lightgrey;
  /* margin: 1.5em 0px; */
}

.next-previous{
  margin-top: 2em;
  border-top: 1px solid lightgrey;
}

.previous{
  line-height: 2px;
  padding: 0px;
  float: left;
}

.next{
  line-height: 2px;
  float:right;
  text-align: right;
}

.previous a, .next a{
  text-decoration: none;
}
/* 
-----------------
3. ID Styles
-----------------
*/

#quoteOfTheDay{
  margin-bottom: 0px;
  font-style: italic;
}

#quoteAuthor{
  margin-top: 0.5em;
  margin-right: 1em;
  margin-bottom: 1em;
  text-align: right;
}

/* 
-----------------
4. Menu Icon and Animation
-----------------
*/

.menu-icon{
  display: var(--menu-icon-display);
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: var(--text-color);
  margin: 5px 0;
  transition: 0.4s;
  display: var(--menu-icon-display);
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px) ;
  transform: rotate(-45deg) translate(-5px, 5px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -7px) ;
  transform: rotate(45deg) translate(-6px, -7px) ;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
} 

/* 
-----------------
5. Media Queries
-----------------
*/

@media all and (max-width: 960px){
  :root{
    --base-padding: 1em;
    --menu-icon-display: block;
  }

  nav{
    background-color: orange;
    border-bottom: 1px solid lightgrey;
    display: block;
    position: fixed;
    /* top: 0;
    left: 0; */
    z-index: 1;
    width: inherit;
  }

  header{
    border: none;
  }

  footer{
    margin-top: 1em;
    height: 5em;
  }

  .wrapper{
    padding: 0px;
    border: none;
  }

  .menu-icon{
    float: right;
  }

  nav .page-links, nav .light-switch {
    display: var(--mobile-menu-display);
    animation-name: fadeIn;
    animation-duration: 0.2s;
  }

  .light-switch{
    margin: 1.5em 0px 0px 0px;
    float: right;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .page-links{
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    height: 8em;
    /* padding: 0.5em; */
    margin-top: 1em;
    width: 100%;
    /* border: 1px solid var(--text-color); */
  }

  .page-links a{
    border-top: 1px dotted lightgrey;
    padding: 0.5em 0px 0.5em 0px;
  }

  .page-links a:last-child{
    border-bottom: 1px dotted lightgrey;
  }
}