/* 
-----------------
Table of Contents
-----------------
1. Global Styles
2. Classes
3. ID Styles
4. Menu Icon and Animation
5. Media Queries

-----------------
1. Global Styles
-----------------
*/

:root{
  --base-padding: 0.5em 0px 0px;
  --base-font-size: 18px;
  --base-width: 75%;
  --menu-icon-display: none;
  --mobile-menu-display: none;
  --nav-height: 2.5em;
  --background-color: white;
  --text-color: #24292e;
  --box-shadow: 0px 4px 8px 0px black;
  --golden-ratio: 1.61803em;
}

body{
  /* position: relative; */
  color: var(--text-color);
  line-height: 1.65em;
  /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  word-wrap: break-word;
  margin: 0px;
  padding: var(--base-padding);
  background: var(--background-color);
  /* -webkit-transition: .2s;
  transition: .2s; */
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /* font-weight: bold; */
  /* font-size: 21px; */
  margin: 0px;
  padding-top: 0.5em;
  width: 100%;
  height: var(--nav-height);
  border-bottom: 1px solid lightgrey;
  -webkit-transition: .2s;
  transition: .2s;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

a:hover{
  cursor: pointer;
  text-decoration: underline;
}

hr{
  border: 1px solid lightgray;
  opacity: 0.7;
}

blockquote{
  margin-left: 0px;
  font-style: italic;
}

ul{
  list-style-type: none;
  margin: 0;
}

h1, h2, h3{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4em;
  text-align: center;
  /* margin-top: 1.5em; */
  border-top: 1px solid lightgrey;
  /* border-bottom: 1px solid lightgrey; */
}

footer p, footer a{
  opacity: 0.7;
}

input[type=checkbox] {
  visibility: hidden;
  height: 0;
  width: 0;
}

label{
  background: green;
}


/* 
-----------------
2. Classes
-----------------
*/

.light-mode{
  color: #24292e;
  background-color: white;
}

.dark-mode{
  color: white;
  background-color: #24292e;
}

.readMore{
  padding: 0.5em;
  background: var(--text-color);
  color: var(--background-color);
}

.readMore:focus, .readMore:hover{
  text-decoration: none;
  background: var(--background-color);
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

.readMore:hover,
.light-switch label:hover,
.menu-icon:hover{
  cursor: pointer;
}

.post-list li{
  margin-top: 1em;
}

ul.post-list{
  padding-left: 0px;
}

.post-list h2{
  padding: 0px;
  margin: 0px;
}

.post-content a, footer a{
  text-decoration: underline;
}

.post-content h3{
  text-align: center;
}

/* .post-content li{
  list-style: disc;
  margin-left: 20px;
} */

.post-content li li{
  list-style: circle;
  /* margin-left: 20px; */
}

.post-content img{
  display: block;
  margin: auto;
  height: 300px;
}

.page-links{
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.light-switch{
  position: relative;
  width: 55px;
  height: 29px;
  background-color: var(--text-color);
  border-radius: 34px;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider:before{
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: var(--background-color);
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

.light-switch input:checked + .slider:before{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.wrapper{
  min-height: 70vh;
  clear: both;
  width: var(--base-width);
  max-width: 700px;
  margin: auto;
}

.wrapper h1{
  text-align: center;
  margin: 2em 0px 2em 0px;
}

.quoteOfTheDayContainer{
  border-bottom: 1px solid lightgrey;
}

/* 
-----------------
3. ID Styles
-----------------
*/

#quoteOfTheDay{
  margin-bottom: 0px;
  font-style: italic;
}

#quoteAuthor{
  margin-top: 0px;
  margin-right: 1em;
  margin-bottom: 0.5em;
  text-align: right;
}

/* 
-----------------
4. Menu Icon and Animation
-----------------
*/

.menu-icon{
  padding: 0px;
  margin: 0px;
  display: var(--menu-icon-display);
}


.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: var(--text-color);
  margin: 5px 0;
  transition: 0.4s;
  display: var(--menu-icon-display);
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px) ;
  transform: rotate(-45deg) translate(-5px, 5px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -7px) ;
  transform: rotate(45deg) translate(-6px, -7px) ;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
} 

/* 
-----------------
5. Media Queries
-----------------
*/

@media all and (max-width: 800px){
  :root{
    --base-padding: 1em;
    --base-width: auto;
    --menu-icon-display: block;
  }

  nav{
    display: block;
    font-size: 21px;
    /* justify-content: space-between;
    flex-wrap: wrap; */
    z-index: 1;
  }

  .menu-icon{
    float: right;
  }

  nav .page-links, nav .light-switch {
    display: var(--mobile-menu-display);
    animation-name: fadeIn;
    animation-duration: 0.2s;
  }

  .wrapper{
    width: 450px;
    max-width: 95%;
  }

  .post, .post-list, .quoteOfTheDayContainer{
    margin-top: 1em;
  }

  .light-switch{
    margin: 2.5em 0px 0px 0px;
    float: right;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .page-links{
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    height: 8em;
    /* padding: 0.5em; */
    margin-top: 1em;
    width: 100%;
    /* border: 1px solid var(--text-color); */
  }

  .page-links a{
    border-top: 1px dotted lightgrey;
    padding: 0.5em 0px 0.5em 0px;
  }

  .page-links a:last-child{
    border-bottom: 1px dotted lightgrey;
  }
}