body{
    /* max-width: 90%; */
    margin: auto;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    padding: 0px;
    margin: 0px;
}

header{
    clear: both;
    position: absolute;
    top: 0;
    width: 100%;
    /* height: 110px; */
    height: auto;
    background: linear-gradient(to right, #21292e 0%, #244d56 100%);
    color: white;
}

header h1{
    /* padding-top: 0.2em; */
    padding-left: 1em;
}

.center{
    max-width: 90%;
    margin: auto;   
}

button{
    background-color: #444d56;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.75em;
    text-decoration: none;
}

button:hover{
    background-color: #2d3339;
    cursor: pointer;
}

input[type=text]{
    padding: 0.5em;
}

input[type=file]{
    display: none;
}

label{
    font-size: 13px;
    background-color: #444d56;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.75em;
    cursor: pointer;
}

label:hover{
    background-color: #2d3339;
}

#newBookButton{
    clear: both;
    color: #24292e;
    margin-top: 1em;
    margin-left: 2.5em;
    background: white;
}

.bookCard{
    float: left;
    position: relative;
    /* width: 100%; */
    height: auto;
    margin-left: 1em;
    margin-right: 1em; 
    margin-bottom: 1em;
    word-wrap: break-word;
    /* background-color: black; */
    border-radius: 5px;
    /* text-align: center; */
    /* text-overflow: ellipsis; */
}

.bookCard img{
    max-width: 40vw;
    /* height: 35vh; */
    height: 210px;
    box-shadow: 5px 5px 10px #444d56;
    border-radius: 5px;
}

.bookCard:hover{
    border-color: #444d56;
    box-shadow: 0px 0px 10px #444d56;
    cursor: pointer;
}

.bookCard div{
    clear: both;
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
    word-wrap: break-word;
    text-align: center;
    float: none;
}

.bookCard:hover div{
    visibility: visible;
}

.bookCard h4{
    padding-top: 3em;
    color: white;
    text-shadow: 1px 1px black;
}

.bookCard div.booklet{
    visibility: visible;
    background-color: rgba(0,0,0,0)
}

.modal{
    clear: both;
    float: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* left: 0;
    top: 0; */
    width: 100%; /* Full width */
    /* height: 100%; */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4);
}

.modal div{
    margin-top: 2.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;
    border: 2.5px solid #959da5;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    background-color: white; 
}

#bookForm{
    clear: both;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4);
}

#bookForm div{
    margin-top: 2.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    border: 2.5px solid #959da5;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    background-color: white;
}

#bookForm h1{
    border-bottom: 2px solid #808080;
}

#bookList{
    margin-top: 110px;
}

.footer{
    clear: both;
    background: linear-gradient(to right, #21292e 0%, #244d56 100%);
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0px;
    /* text-align: right; */
}

@media only screen and (min-width: 1050px){
    
    header{
        width: 100%;
    }

    .bookCard{
        width: auto;
        /* margin-left: 1.5em;
        margin-right: 1.5em; */
    }

    #bookForm div{
        max-width: 40%;
    }

    /* .bookCard img{
        height: 20vh;
        padding: 0.5em;
    } */

    
}